"*":
  "exception-reporting":
    userId: "2be88276-5ec8-8dd4-032b-457f97710bac"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "railscasts-prime-syntax"
    ]
  editor:
    invisibles: {}
    softWrap: true
  "vim-mode": {}
  autosave:
    enabled: true
  "git-diff":
    showIconsInEditorGutter: true
  "autocomplete-ruby": {}
  "atom-beautify":
    _analyticsUserId: "280aab77-3ced-403a-9613-2c7619d4f7de"
  "merge-conflicts": {}
  "ruby-block":
    highlightLineNumber: true
    showBottomPanel: false
  linter:
    showErrorPanel: false
  "linter-rubocop":
    executablePath: "/Users/manolis/.rbenv/versions/2.0.0-p247/bin/rubocop"
  "linter-rubocop-caseywebdev":
    executablePath: "/Users/manolis/.rbenv/versions/2.0.0-p247/bin/rubocop"
  "autoclose-html": {}
  "ember-cli-helper": {}
  "rails-transporter": {}
  jekyll:
    serverPort: 4001
  "tree-view": {}
